// Configure grid coordinates
$grid-columns: 16
$grid-width: 30px
$grid-gutter-width: 10px

@import grid-coordinates

+grid-coordinates

.container
  @extend .grid-container
  margin: 0
  .content
    @extend .grid-16
    background: rgba(255,255,255,0.9)
    padding: 1em
    +box-shadow(black,2px,2px)

header
  background: image_url("content-top.png")
  width: 100%
  height: 130px
  h1
    @extend .font-boldcaps
    font-size: 2em
    color: $color-yellow
    text-shadow: $color-blue 2px 2px 0
    position: relative
    top: 2.5em
    text-align: center
    a
      color: inherit
      &:hover
        color: inherit
        text-decoration: none

  span.subheading
    display: block
    @extend .font-caps
    font-size: 1.2em
    text-align: center
    position: relative
    top: 4em

article
  background: image_url("content-middle.png") repeat-y
  padding: 3.5em 1em 2em

footer
  background: image_url("content-bottom.png")
  width: 100%
  height: 126px
  hr
    border: none
    border-bottom: 1px solid $color-blue
    margin: 0 2em
    position: relative
    top: -1em
  nav
    position: relative
    left: 50%
    float: left
    ul
      +horizontal-list(0.5em)
      @extend .font-caps
      position: relative
      left: -50%

body
  background: white image_url("background.jpg") no-repeat right top
  background-attachment: fixed
  padding: 3em

h2
  font-size: 1.5em
  color: $color-darkblue

p
  margin-left: 1em
  margin-bottom: 1em
  &:last-child
    margin-bottom: 0
  &.last
    @extend .grid-16
    @extend .grid-prefix-4
    @extend .grid-suffix-4 

em
  @extend .font-italic

.caps
  @extend .font-caps

ul
  list-style: disc
  padding-bottom: 1em
  li
    line-height: 1.5

form
  ol
    margin: 0 1em
    padding: 1em 0
    li
      // Hide the list nature of forms
      list-style: none
      margin-bottom: 1em
    ol
      padding-left: 10em
  label
    @extend .font-caps
    display: inline-block
    em
      font-size: 0.8em
      letter-spacing: 0
  input[type=text]
    float: right
    width: 19em
    border: 0
    border-bottom: 1px $color-darkblue solid
    background: none
  input[type=submit]
    @extend .font-caps
    float: right
    border: 0
    background: $color-yellow
    &:hover
      background: $color-lightyellow
