!!!
%html{html_attrs}
  %head
    %title= @title
    %link{:href => "/base/css/stylesheet.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %script{:type => "text/javascript", :src => "/base/javascripts/jquery-1.5.min.js"}
    %script{:type => "text/javascript", :src => "/base/javascripts/jquery.autosize.js"}
    %script{:type => "text/javascript", :src => "/base/javascripts/modernizr-1.6.min.js"}
    %script{:type => "text/javascript", :src => "/base/javascripts/application.js"}
    = haml :analytics, :layout => false
  %body{:class => @body_class}
    %a#top
    .container
      .content
        %header
          %h1
            %a(href="/") Carolina and Lukas
          // %span.subheading are getting married!
          %hr
          %nav
            %ul
              %li
                %a(href="/#top") Home
              %li
                %a(href="/#rsvp") RSVP
              //%li
              //  %a(href="/schedule#top") Schedule
              %li
                %a(href="/hotel#top") Hotel
              //%li
              //  %a(href="/slovensko#top") Slovakia
              %li
                %a(href="/registry#top") Registry
              %li
                %a(href="/contact#top") Contact Us
        %article
          = yield
        %footer
          %hr
          %nav
            %ul
              %li
                %a(href="/#top") Home
              %li
                %a(href="/#rsvp") RSVP
              %li
                %a(href="/hotel#top") Hotel
              %li
                %a(href="/registry#top") Registry
              %li
                %a(href="/contact#top") Contact Us
