%h2 Contact Us

%h3 Email
%p 
  Email Carolina at
  %a(href="mailto:carolina.franch@gmail.com") carolina.franch@gmail.com
  and Lukas at
  = succeed '.' do
    %a(href="mailto:lukas@lukastoth.com") lukas@lukastoth.com

%h3 Phone

%p
  You can call Carolina at +1 (203) 585-7242 and Lukas at +1 (347) 850-2624.

%h3 Snail Mail

%p
  %span.caps Carolina Franch
  %br/
  240 1
  %span.caps>< st Ave, Apt MH
  %br/
  %span.caps>< New York, NY&emsp;
  10009

%p
  %span.caps Lukas Toth
  %br/
  45
  %span.caps Wall St, Apt
  812
  %br/
  %span.caps>< New York, NY&emsp;
  10005
