- @title = "Cocktail &amp; Dinner Reception"
- @body_class = "dinner"

%h2 Cocktail &amp; Dinner Reception

%p
  Please also join us for a cocktail and dinner reception to celebrate the
  wedding evening on Saturday, August 25 at the
  %a(href="http://www.atlantabotanicalgarden.org/")<
    Atlanta Botanical Garden
  in
  = surround " ", "," do
    %a(href="https://maps.google.com/maps?saddr=Peachtree+Presbyterian+Church,+Roswell+Road+Northwest,+Atlanta,+GA&daddr=Atlanta+Botanical+Garden,+Piedmont+Avenue+Northeast,+Atlanta,+GA&hl=en&ll=33.790155,-84.373482&spn=0.004306,0.005659&sll=33.789901,-84.373562&sspn=0.01218,0.022638&geocode=FR59BAId-Gn4-iGOFaMZkdk07ynL9-WKYg_1iDGOFaMZkdk07w%3BFcKdAwIdPaT4-iG11oHogfnqoCnRFdUlOAT1iDG11oHogfnqoA&oq=peachtree+pres&t=h&mra=ls&z=18")<
      midtown Atlanta
  adjactent to Piedmont Park.

%figure#garden_photo
  %a{:href => "http://www.flickr.com/photos/ugardener/3678174034/", :target => "_blank"}
    %img{:alt => "Dale Chihuly Meets Henry Moore at the Atlanta Botanical Garden by UGArdener, on Flickr",
    :src => "/attachments/garden_photo.jpg",
    :title => "Dale Chihuly Meets Henry Moore at the Atlanta Botanical Garden by UGArdener, on Flickr"}/
  %figcaption
    %a{:href => "http://creativecommons.org/licenses/by-nc/2.0/", :target => "_blank"}
      %img{:alt => "Creative Commons Attribution-Noncommercial 2.0 Generic License",
           :src => "http://i.creativecommons.org/l/by-nc/2.0/80x15.png",
           :title => "Creative Commons Attribution-Noncommercial 2.0 Generic License"}>/
    Courtesy of
    %a{:href => "http://www.flickr.com/people/ugardener/", :target => "_blank"} UGArdener

%h3 Schedule

%p
  Cocktails will be served in the garden starting at 6 p.m. and the dinner
  buffet will begin inside Day Hall at 7:30 p.m. Live music and dancing will
  follow.

%h3 Transportation

%p
  We will provide transportation for out of town guests leaving from the
  church at 5:30 p.m. and 6 p.m. and also from the Garden to the
  %a(href="/hotel")
    Artmore Hotel
  after the reception ends just before midnight.

