%h2 When?

%p The ceremony will take place on August 25, 2012 beginning at 3:00 p.m.

%h2 Where?

%p
  Carolina&#8217;s mother, Vicki Harrington Franch, will perform the marriage ceremony at
  = succeed '' do 
    %a(href="http://peachtreepres.org/") Peachtree Presbyterian Church
  in Atlanta,
  %span.caps
    GA.
  This will be followed by a cake reception in the Williams Center.

%p Hotel and other information coming soon.
