- @body_class = "index"

%h2 When?

%p
  The marriage ceremony will take place on August 25, 2012 starting at 3:00 p.m.
  Seating will begin at 2:30 p.m.

%h2 Where?

%p
  Carolina&rsquo;s mother, Rev. Vicki Harrington Franch, will perform the ceremony in the main sanctuary of the 
  %a(href="http://peachtreepres.org/") Peachtree Presbyterian Church
  in
  = surround ' ', '.' do
    %a(href="https://maps.google.com/maps?q=Peachtree+Presbyterian+Church,+Roswell+Road+Northwest,+Atlanta,+GA&hl=en&sll=37.0625,-95.677068&sspn=47.215051,92.724609&hq=Peachtree+Presbyterian+Church,&hnear=Roswell+Rd+NW,+Atlanta,+Fulton,+Georgia&t=m&z=16")<
      Atlanta
  This will be followed by a cake reception downstairs, in the Williams Center.

%a#rsvp

%h2 RSVP

#form
  %p Kindly reply before the fifteenth of July.

  %iframe#form_submit.hidden{:name => "form_submit"}

  %form#rsvp_form{:action => "https://docs.google.com/spreadsheet/formResponse?formkey=dC1felBMZVJMZUlOQTVXRmVQbncwNWc6MQ&amp;ifq", :method => "POST", :target => "form_submit"}
    %ol
      %li
        %label{:for => "entry_0"}
          Name(s)
        %textarea#entry_0{:name => "entry.0.single"}
      %li
        %ol
          %li
            %label{:for => "group_1_1"}
              %input#group_1_1{:name => "entry.1.group", :type => "radio", :value => "1"}/
              will attend
          %li
            %label{:for => "group_1_2"}
              %input#group_1_2{:name => "entry.1.group", :type => "radio", :value => "0"}/
              will not attend
      %li
        %label{:for => "entry_2"}
          Notes
        %textarea#entry_2{:name => "entry.2.single"}
      %li.buttons
        %input{:name => "submit", :type => "submit", :value => "Submit"}/
    %input{:name => "pageNumber", :type => "hidden", :value => "0"}
    %input{:name => "backupCache", :type => "hidden", :value => ""}

  %p
    %em
      If you are planning to attend, please make sure to list the names of everyone coming.

%p#confirmation
  Thank you for your prompt response!

%h2 Coming from out of town?

%p
  You can join all the other out of town guests at the the wonderful
  = succeed ',' do
    %a(href="http://artmorehotel.com/") Artmore Hotel
  which is conveniently located in
  = surround ' ', '.' do
    %a(href="https://maps.google.com/maps?q=Artmore+Hotel,+Atlanta,+GA&hl=en&ll=33.790989,-84.386201&spn=0.02436,0.045276&sll=37.0625,-95.677068&sspn=47.215051,92.724609&hq=Artmore+Hotel,+Atlanta,+GA&t=m&z=15")<
      midtown Atlanta
  We will provide
  transportation from this hotel to the ceremony, reception, and back.

%p
  Take a look at the
  %a(href="/hotel#rates") special rates
  and follow the
  %a(href="/hotel#making-a-reservation") instructions
  on how to make a reservation.
  Please try to make your reservation before August&nbsp;1. After this date,
  the rooms we have reserved for
  %em you
  can be booked by strangers, and the hotel could get booked up.


