- @body_class = "registry"

%h2 Registry and gift ideas

%p We have registered at the following stores (so far):

%ul
  %li
    %a(href="http://www.williams-sonoma.com/registry/3004079/registry-list.html")
      Williams-Sonoma
  -# %li
    %a(href="http://www.macys.com/registry/wedding/guest/?registryId=766418")
      Macy&rsquo;s
