- @title = "Registry and Gift Ideas"
- @body_class = "registry"

%h2 Registry and gift ideas

%p We have registered at the following stores:

%ul
  %li
    %a(href="http://www.williams-sonoma.com/registry/3004079/registry-list.html")
      Williams-Sonoma
  %li
    %a(href="http://www.macys.com/registry/wedding/guest/?registryId=766418")
      Macy&rsquo;s
  %li
    %a(href="http://www.charleswillis.com/store/view.asp?registry_id=2763")
      Charles Willis

%p
  We are also collecting a donation in honor of our wedding to
  = succeed ',' do
    %a(href="http://www.mullychildrensfamily.org/") Mully Children&rsquo;s Family
  located in the Nairobi area in Kenya. Carolina researched this
  astounding children&rsquo;s home&mdash;founded and managed by a former Nairobi
  street child&mdash;as part of her senior thesis. Your gift would help
  %span.caps MCF
  educate vulnerable children and provide them a home, in support of local
  people who are working to improve their country. You can make a check
  out to
  = precede '&ldquo;' do
    = succeed '&rdquo;' do
      %span.caps MCF-USA
  (their
  = succeed '-based' do
    %span.caps U.S.
  fundraising arm), write &ldquo;Franch Toth wedding&rdquo; on the memo line,
  and send it to:

%p
  %span.caps MCF-USA
  %br/
  %span.caps P.O. Box
  710
  %br/
  %span.caps>< Ada, MI&emsp;
  49301
