- @title = "Slovenská svadobná hostina"
- @body_class = "slovensko"

%h2 Slovenská svadobná hostina

%p
  Dovoľujeme si Vás srdečne pozvať k svadobnému stolu v sobotu 1.&nbsp;septembra
  o druhej hodine v hoteli
  %a(href="http://www.thermiapalace.sk/") Thermia Palace
  na
  %a(href="https://maps.google.com/maps?hl=en&ll=48.586771,17.842011&spn=0.00924,0.022638&sll=48.588091,17.841336&sspn=0.004847,0.011319&t=m&z=16") Kúpeľnom ostrove
  v Piešťanoch.

%figure#thermia_photo
  %a{:href => "http://www.flickr.com/photos/30177704@N02/2827127291/", :target => "_blank"}
    %img{:alt => "Hotel Thermia Palace, Spa Island, Piestany, Slovakia by Piestany",
    :src => "/attachments/thermia_photo.jpg",
    :title => "Hotel Thermia Palace, Spa Island, Piestany, Slovakia by Piestany"}/
  %figcaption
    %a{:href => "http://creativecommons.org/licenses/by-nc/2.0/", :target => "_blank"}
      %img{:alt => "Creative Commons Attribution-Noncommercial 2.0 Generic License",
           :src => "http://i.creativecommons.org/l/by-nc/2.0/80x15.png",
           :title => "Creative Commons Attribution-Noncommercial 2.0 Generic License"}>/
    s dovolením
    %a{:href => "http://www.flickr.com/people/30177704@N02/", :target => "_blank"} Piešťan
%a#rates

%a#rsvp

%h2 Potvrďte účasť

#form
  %p Prosím potvrďte účasť do dvadsiateho júla.

  %iframe#form_submit.hidden{:name => "form_submit"}

  %form#rsvp_form{:action => "https://docs.google.com/spreadsheet/formResponse?formkey=dDJSTDNoY2haYVJqd1hoV2ZQRnNEWnc6MQ&amp;ifq", :method => "POST", :target => "form_submit"}
    %ol
      %li
        %label{:for => "entry_0"}
          Mená
        %textarea#entry_0{:name => "entry.0.single"}
      %li
        %ol
          %li
            %label{:for => "group_1_1"}
              %input#group_1_1{:name => "entry.1.group", :type => "radio", :value => "1"}/
              prídem(e)
          %li
            %label{:for => "group_1_2"}
              %input#group_1_2{:name => "entry.1.group", :type => "radio", :value => "0"}/
              neprídem(e)
      %li
        %label{:for => "entry_2"}
          Poznámky
        %textarea{:name => "entry.2.single"}
      %li.buttons
        %input{:name => "submit", :type => "submit", :value => "Poslať"}/
    %input{:name => "pageNumber", :type => "hidden", :value => "0"}
    %input{:name => "backupCache", :type => "hidden", :value => ""}

  %p
    %em
      Ak plánujete prísť, prosím vymenujte všetkých hostí.

%p#confirmation
  Ďakujeme za rýchlu odpoveď.

